In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('clean_data.csv')
df_returns = pd.read_csv('clean_data_returns.csv')

In [3]:
df

,Invoice_id,Cust_id,Txn_date,Product_Sub_category,Product_Category,Qty,Rate,Tax,Total_Amt,Store_type
0,25890929042,266783,2016-09-23,Women,Footwear,4,1321,554.820,5838.820,e-Shop
1,98477711300,266783,2017-10-21,Mens,Clothing,3,93,29.295,308.295,TeleShop
2,8410316370,266783,2018-02-20,Mens,Clothing,1,869,91.245,960.245,e-Shop
3,16999552161,266783,2018-09-02,Non-fiction,Books,2,835,175.350,1845.350,e-Shop
4,36310127403,266784,2017-04-12,Mobiles,Electronics,2,200,42.000,442.000,Brick and Mortar
...,...,...,...,...,...,...,...,...,...,...
19916,94712826085,275264,2016-05-08,Non-fiction,Books,5,221,116.025,1221.025,TeleShop
19917,81382444243,275264,2016-08-10,Electric appliances,Home and kitchen,4,587,246.540,2594.540,e-Shop
19918,7214136016,275265,2016-12-17,Women,Bags,1,222,23.310,245.310,TeleShop
19919,38961184788,275265,2016-12-26,Academic,Books,3,188,59.220,623.220,e-Shop
19920,24113900219,275265,2018-03-04,Furnishing,Home and kitchen,3,719,226.485,2383.485,Brick and Mortar

In [4]:
df_returns

,Invoice_id,Cust_id,Txn_date,Product_Sub_category,Product_Category,Qty,Rate,Tax,Total_Amt,Store_type
0,25890929042,266783,2016-09-24,Women,Footwear,-4,-1321,554.820,-5838.820,e-Shop
1,96176911576,266785,2017-02-06,Home Decoratives,Home and kitchen,-5,-1236,648.900,-6828.900,Brick and Mortar
2,42435707527,266794,2018-06-30,Audio and video,Electronics,-1,-123,12.915,-135.915,e-Shop
3,88316484015,266816,2018-12-08,Women,Footwear,-1,-74,7.770,-81.770,e-Shop
4,98097112949,266818,2017-04-19,Home Decoratives,Home and kitchen,-1,-1499,157.395,-1656.395,e-Shop
...,...,...,...,...,...,...,...,...,...,...
2049,56929756999,275252,2016-10-14,Women,Clothing,-4,-1307,548.940,-5776.940,e-Shop
2050,84628682819,275252,2018-09-08,Mens,Footwear,-2,-1281,269.010,-2831.010,TeleShop
2051,96061314451,275257,2018-03-09,Furnishing,Home and kitchen,-3,-347,109.305,-1150.305,e-Shop
2052,62560589211,275261,2016-05-10,Mens,Bags,-1,-367,38.535,-405.535,TeleShop
2053,45067329959,275261,2018-05-07,Kids,Books,-3,-862,271.530,-2857.530,e-Shop

In [5]:
#a little bit of data analysis (talked about it last call)
#identifying type of store we have (local or in the midle of "time squre")

unique_customer_number = df['Cust_id'].nunique()
unique_customer_number

5473

In [6]:
customer_freq = df['Cust_id'].value_counts()
customer_freq

273014    11
274227    11
270803    11
272741    11
270535    10
          ..
269281     1
274373     1
268291     1
270785     1
268370     1
Name: Cust_id, Length: 5473, dtype: int64

In [7]:
#how old is this store
df['Txn_date'] = pd.to_datetime(df['Txn_date'])
age = df['Txn_date'].max() - df['Txn_date'].min()
age

Timedelta('1094 days 00:00:00')

In [8]:
#work with returns
returns_by_store = df_returns['Store_type'].value_counts()
returns_by_store

Brick and Mortar    840
e-Shop              822
TeleShop            392
Name: Store_type, dtype: int64

In [14]:
#stores 100 "favorite" customers
returns_by_customer = df_returns['Cust_id'].value_counts()
top_100_customers = returns_by_customer.nlargest(100)
top_100_customers.head(100)

268490    4
270353    4
268207    4
271862    4
270308    4
         ..
270897    2
270895    2
268579    2
270892    2
270870    2
Name: Cust_id, Length: 100, dtype: int64

In [15]:
#return rate
returns_by_customer = df_returns['Cust_id'].value_counts()
transactions = df['Cust_id'].value_counts()

return_rate = returns_by_customer/transactions
return_rate

266783    0.250000
266784         NaN
266785    0.142857
266788         NaN
266794    0.100000
            ...
275257    0.250000
275261    0.666667
275262         NaN
275264         NaN
275265         NaN
Name: Cust_id, Length: 5473, dtype: float64

In [16]:
avg_return_all_customers = return_rate.mean()
avg_return_all_customers

0.3429058310851789

In [17]:
avg_return_top_100_customers = top_100_customers.mean()
avg_return_top_100_customers

2.59